* {
  box-sizing: border-box;
}

.carouselContainer .carouselContainer_item {
  flex: 0 0 auto;
  background: #fff;
  white-space: normal;
  border: 1px solid black;
}
.carouselContainer {
  text-align: center;
}

.carouselSlides {
  display: flex;
  overflow: scroll;
  width: 100%;
  margin: auto;
}

.carouselSlides .carouselSlides_item {
  flex: 0 0 100%;
  background: #fff;
  white-space: normal;
}

.carouselSlides .carouselSlides_item--image img {
  width: 100%;
  height: 100%;
}

.carouselSlides .carouselSlides_item--title {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: #2c72a1;
  text-transform: capitalize;
}

.carouselWrapper {
  position: relative;
}

.carouselWrapper .actionButton {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-indent: -99999999px;
  overflow: hidden;
  background-image: url(./images/arrow.svg);
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 20px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  height: 100px;
  width: 50px;
  border: none;
}

.carouselWrapper .actionButton.prev {
  left: 0;
  transform: rotate(180deg);
}

.carouselWrapper .actionButton.next {
  right: 0;
}

@media screen and (min-width: 768px) {
  .carouselSlides .carouselSlides_item {
    flex: 0 0 auto;
    padding: 10px;
  }

  .carouselWrapper .actionButton {
    position: static;
    background: #2c72a1;
    color: #fff;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    text-indent: 0;
    width: auto;
    height: auto;
    cursor: pointer;
  }

  .carouselWrapper .actionButton.prev {
    border-radius: 10px 0 0 10px;
    transform: rotate(0deg);
  }

  .carouselWrapper .actionButton.next {
    border-radius: 0 10px 10px 0;
    margin-left: 5px;
  }
}
